# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build

# Turbo
.turbo

# Env files
.env
.env.*
!.env.example
!.env.*.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Expo / React Native
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Prisma
prisma/migrations/dev.db
